<h1 align='center'>About Page</h1>

<div align='center'>
	<%= link_to 'Home', root_path %>
</div>

				
	<button type = 'button' class = 'btn btn-info' data-toggle = 'modal' data-target = '#practise'>Click Me</button>
		<div id = 'practise' class = 'modal fade' >
			<div class = 'modal-dialog'>
				<div class = 'modal-content'>
					<div class = 'modal-header'>Practise</div>
						<div class = modal-body>
						Hello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha ShahHello, This is Krisha Shah
					</div>
					<div class = 'modal-footer'>
						<button type = 'button' class = 'btn btn-info' data-dismiss = 'modal'>close</button>
					</div>
				</div>
			</div>
		</div>

